# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OSM.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Cybertech\RiderProjects\OSM\.idea\.idea.OSM\.idea/dataSources/
/dataSources.local.xml
